body {
    font-family: "Courier New", sans-serif;
    background-color: #00aced;
}

.userDiv {
    width: 30%;
    margin-left: 250px;
    display: inline-block;
    font-size: 45px;
    padding-top:40px;
}

button{
    font-family: "Courier New", sans-serif;
    width: 150px;
    height: 50px;
    margin-left:250px;
    background-color: #00719c;
    border: none;
    color:white;
    border-radius: 25px;
    font-size: x-large;
}

.addUserForm {
    align-items: center;
    margin-left: 400px;
    padding: 15px;
}

.addUserForm input {
    margin: 0 10px;
}

.search {
    padding: 10px;
    text-align: center;
}

.search label {
    padding:15px;
    font-size: 20px;
}

.search input {
    height: 20px;
}
.removeButton {
    width: 80px;
    height: 40px;
    font-size: 15px;
    margin:10px;
}
