td {
    width: 30%;
    margin-left: 250px;
    padding-top: 75px;
    display: inline-block;
    font-size: 52px;
}

div {
    height: 100%;
    background-color: #00aced;
}

button {
    width: 150px;
    height: 50px;
    font-size: 25px;
    margin-left:350px;
    margin-top:10px;
    background-color: #00719c;
    border: none;
    color:white;
}